@model MVC_AHTBCINEMA.Model.Multimodel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.awesome.com/fontawesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .marquee {
            font-size: x-large;
            font-weight: 500;
            color: red;
        }
        img{
            height: 250px;
        }
    </style>
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    <div class="container-fluid marquee">
       <br />
    </div>
    <div class="mb-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="width: 850px; margin: auto; height: 350px">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/Image/poster3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/Image/poster2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/Image/poster5.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="mb-5">
        <div class="card border border-danger non-border" style="padding:40px; position:relative;">
            <span class="badge bg-danger non-border fs-5" style="position: absolute; top: -82px; left: 41px; transform: rotate(-90deg); writing-mode: vertical-lr; padding:20px 10px">Phổ biến</span>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        @foreach (var phim in Model.Phim.Take(4))
                        {

                            <div class="col-3 text-center">
                                <div class="d-flex flex-column h-100 justify-content-between">
                                    <img src="/uploads/@phim.HinhAnh" alt="Product 1" class="product">
                                    <div class="text-center">
                                    </div>
                                    <a asp-action="Details" asp-route-id="@phim.IdPhim" class="btn btn-danger">Xem ngay!</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border border-danger non-border" style="padding:40px; position:relative;">
        <div class="container">
            <div class="badge bg-danger non-border fs-5"
                 style="position: absolute; top: -71px; left: 31px; transform: rotate(-90deg); overflow: visible; writing-mode: vertical-lr; padding:20px 10px; margin-bottom: 100px;">
                Ưu đãi
                <div class="Position">
                    <p id="text1" class="fadeIn">Thời gian có ưu đãi được áp dụng</p>
                    <p id="text2" class="fadeOut d-none">Thứ 7 - Chủ nhật từ 12h00</p>
                </div>
            </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-3 text-center">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/Image/phim/inception.jpg" alt="Product 1" class="product">
                                <div class="text-center">
                                </div>
                                <a href="/Home/DetailsFilm" class="btn btn-danger">Xem ngay!</a>
                            </div>
                        </div>
                        <div class="col-3 text-center">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/Image/phim/joker.jpg" alt="Product 2" class="product-item">
                                <div class="text-center">
                                </div>
                                <a href="/Home/DetailsFilm" class="btn btn-danger">Xem ngay!</a>
                            </div>
                        </div>
                        <div class="col-3 text-center">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/Image/phim/nowyouseeme.jpg" alt="Product 3" class="product-item">
                                <div class="text-center">
                                </div>
                                <a href="/Home/DetailsFilm" class="btn btn-danger">Mua ngay!</a>
                            </div>
                        </div>
                        <div class="col-3 text-center">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/Image/phim/parasite.jpg" alt="Product 4" class="product-item">
                                <div class="text-center">
                                </div>
                                <a href="/Home/DetailsFilm" class="btn btn-danger">Xem ngay!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">

                        <div class="col-3 text-center">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/Image/phim/anhthayngoisao.jpg"" alt="Product 1" class="product">
                                <div class="text-center">
                                </div>
                                <a href="/Home/DetailsFilm" class="btn btn-danger">Xem ngay!</a>
                            </div>
                        </div>

                        <div class="col-3 text-center">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/Image/phim/thewolfofwallstreet.jpg" alt="Product 2" class="product-item">
                                <div class="text-center">
                                </div>
                                <a href="/Home/DetailsFilm" class="btn btn-danger">Xem ngay!</a>
                            </div>
                        </div>
                        <div class="col-3 text-center">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/Image/phim/z5446220325482_e5c76680f8607f57ffe8e073c40a1bf9.jpg" alt="Product 3" class="product-item">
                                <div class="text-center">
                                </div>
                                <a href="/Home/DetailsFilm" class="btn btn-danger">Xem ngay!</a>
                            </div>
                        </div>
                        <div class="col-3 text-center">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <img src="/Image/phim/z5446220342450_61f4d0026ebec8b36300f7c998df8da0.jpg" alt="Product 4" class="product-item">
                                <div class="text-center">
                                    <p class="mb-0"></p>
                                </div>
                                <a href="/Home/DetailsFilm" class="btn btn-danger">Xem ngay!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev carousel-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden" style="background-color: gray;">Previous</span>
            </button>
            <button class="carousel-control-next carousel-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden" style="background-color: gray;">Next</span>
            </button>
        </div>
    </div>
</body>
<style>
    .product-item {
        max-width: 100%; /* Điều chỉnh kích thước tối đa của sản phẩm */
        height: auto; /* Đảm bảo chiều cao tự động theo tỉ lệ */
    }

    .non-border {
        border-radius: 0px 10px 3px 0px; /* Loại bỏ bo góc */
    }


    .carousel-next {
        right: -90px;
        padding: 0;
    }

    .carousel-prev {
        left: -90px;
        padding: 0;
    }

    .carousel-item img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: auto;
    }

    .fadeOut {
        animation: fadeOut 1s ease-in-out forwards;
    }

    .fadeIn {
        animation: fadeIn 1s ease-in-out forwards;
    }

    .Position {
        position: absolute;
        top: 108px;
        left: -19px;
        color: black;
        padding: 20px 10px;
        margin-bottom: 100px;
    }
</style>
@section Scripts {
    <script>
        let i = 2;
        let text1 = document.getElementById('text1');
        let text2 = document.getElementById('text2');

        setInterval(function () {
            if (i % 2 === 0) {
                text1.classList.remove('fadeOut');
                text1.classList.add('fadeIn');
                text1.classList.remove('d-none');

                text2.classList.remove('fadeIn');
                text2.classList.add('fadeOut');
                text2.classList.add('d-none');
            } else {
                text2.classList.remove('fadeOut');
                text2.classList.add('fadeIn');
                text2.classList.remove('d-none');

                text1.classList.remove('fadeIn');
                text1.classList.add('fadeOut');
                text1.classList.add('d-none');
            }
            i++;
        }, 2000);
        $(document).ready(function () {
            $('#successAlert').fadeIn().delay(5000).fadeOut('slow');
        });
    </script>
}

