@model IEnumerable<AHTBCinema_NHOM4_SD18301.Models.DoAnvaNuoc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý đồ ăn và thức uống</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm món</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tên combo</th>
            <th>Hình ảnh</th>
            <th>Giá</th>
            <th>Hoạt động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row-@item.IdComBo">
                <td>@Html.DisplayFor(modelItem => item.TenCombo)</td>
                <td><img src="/uploads/@item.Hinhanh" alt="Alternate Text" style="max-width: 100px; max-height: 100px;" /></td>
                <td>@Html.DisplayFor(modelItem => item.Gia)</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.IdComBo">Sửa</a> 
                   @*  <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdComBo">Thông tin</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

