@model AHTBCinema_NHOM4_SD18301.Models.CaChieu

@{
    ViewData["Title"] = "Chỉnh sửa ca chiếu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4 text-center my-4">Chỉnh sửa ca chiếu</h1>

<h4>CaChieu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="IdCaChieu" />
            <div class="form-group">
                <label asp-for="Phong" class="control-label"></label>
                <select asp-for="Phong" class="form-control" asp-items="ViewBag.Phong"></select>
                <span asp-validation-for="Phong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phim" class="control-label"></label>
                <select asp-for="Phim" class="form-control" asp-items="ViewBag.Phim"></select>
                <span asp-validation-for="Phim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayChieu" class="control-label"></label>
                <input asp-for="NgayChieu" class="form-control" />
                <span asp-validation-for="NgayChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

