@model AHTBCinema_NHOM4_SD18301.Models.Ghe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Sửa ghế</h4>
<hr />
<div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdGhe" />
            <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="TenGhe" class="control-label">Tên ghế</label>
                <input asp-for="TenGhe" class="form-control" />
                <span asp-validation-for="TenGhe" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="Phong" class="control-label">Số phòng</label>
                <select asp-for="Phong" class="form-control" asp-items="ViewBag.Phong"></select>
                <span asp-validation-for="Phong" class="text-danger"></span>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="LoaiGhe" class="control-label">Loại ghế</label>
                <select asp-for="LoaiGhe" class="form-control" asp-items="ViewBag.LoaiGhe"></select>
                <span asp-validation-for="LoaiGhe" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
</div>

