@model API_AHTBCINEMA.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Classy Login form Widget Flat Responsive Widget Template :: w3layouts</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- for-mobile-apps -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //for-mobile-apps -->
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <style>
        ::placeholder {
            color: #ffffff !important;
            opacity: 1; /* Firefox */
        }
    </style>
</head>
<body>
    <!--header start here-->
    <div class="header">
        <div class="header-main">
            <h1 class="text-white">Đăng nhập</h1>
            <div class="header-bottom">
                <div class="header-right w3agile">

                    <div class="header-left-bottom agileinfo">
                        @using (Html.BeginForm("Login", "DangNhap", FormMethod.Post))
                        {
                            <form>
                                <div class="mb-3">
                                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control text-white", placeholder = "Email" })

                                </div>
                                <div class="mb-3">
                                    @Html.TextBoxFor(x => x.PassWord, new { @class = "form-control", placeholder = "Enter password", type = "password" })
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="remember">
                                    <label class="form-check-label text-white" for="remember">Ghi nhớ</label>
                                </div>
                                <div class="forgot">
                                    <h6><a href="#" class="text-white">Quên mật khẩu</a></h6>
                                </div>

                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        }a
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--header end here-->
    <!--footer start here-->
    <div class="copyright">
        <p class="text-white">Tạo tài khoản mới <a asp-controller="DangNhap" asp-action="Create" class="text-primary">Đăng ký </a></p>
    </div>
    <!--footer end here-->
</body>
</html>
