@model API_AHTBCINEMA.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <style>
        ::placeholder {
            color: #ffffff !important;
            opacity: 1; /* Firefox */
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="header-main">
            @if (TempData["ErroLoginMessage"] != null)
            {
                <div id="ErroLoginAlert" class="alert alert-success alert-dismissible fade show text-danger" role="alert">
                    @TempData["ErroLoginMessage"]
                </div>
            }
            <h1 class="text-white">Đăng nhập</h1>
            <div class="header-bottom">
                <div class="header-left-bottom agileinfo">
                    @using (Html.BeginForm("Login", "DangNhap", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control text-white", placeholder = "Email chỉ nhập trước @" })
                           
                        </div>
                        <div class="mb-3">
                            @Html.PasswordFor(x => x.PassWord, new { @class = "form-control", placeholder = "Mật khẩu" })
                       
                        </div>
                        <div class="forgot">
                            <h6><a href="#" class="text-white">Quên mật khẩu</a></h6>
                        </div>

                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ErroLoginAlert').fadeIn().delay(3000).fadeOut('slow');
        });
    </script>

    <div class="copyright">
        <p class="text-white">Tạo tài khoản mới <a asp-controller="DangNhap" asp-action="Create" class="text-primary">Đăng ký </a></p>
    </div>

</body>
</html>
