
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
  @*   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> *@
    <style>
        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height: 200px;
        }
    </style>
</head>
<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Image/background/gioithieu1.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Rạp phim đỉnh nhất Việt Nam</h3>
                    <p>Anh Hùng Tranh Bá Cinema</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h3>Anh Hùng Tranh Bá Cinema</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <img src="/Image/background/hinh-anh-giang-ho-hong-kong-dep.jpg" class="img-responsive" style="width:100%" alt="Image">
                <p>5 thành viên sáng lập</p>
            </div>
            <div class="col-sm-4">
                <img src="/Image/background/5anhdeptrai.jpg" class="img-responsive" style="width:100%" alt="Image">
                <p>Tiêu Anh Duy, Nguyễn Nguyễn, Phan Vũ Thành Khang, Lương Chí Cường, Nguyễn Ngọc Mẫn</p>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <p>Rạp phim "Anh Hùng Tranh Bá" là điểm đến tuyệt vời cho những người yêu thích các bộ phim hành động, siêu anh hùng mạo hiểm. Sự kết hợp giữa câu chuyện ly kỳ, hiệu ứng đặc sắc và diễn xuất tuyệt vời hứa hẹn mang đến cho khán giả những trải nghiệm đầy kịch tính và hấp dẫn.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
</html>

