<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- FontAwesome 6.2.0 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- (Optional) Use CSS or JS implementation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
            integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
            <h1 class="text-center text-danger">Ưu Đãi</h1>
        </nav>

        <h1 style="text-align: center; font-weight: 400;
            font-style: normal;
            font-family: 'Montserrat', sans-serif;
            color: #ff6600;
            font-size: 39px;
            line-height: 1.2;
            letter-spacing: 0px;">
            PHIM GIẢM GIÁ
        </h1>
        <div class="container mt-3">
            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex justify-content-center m-1" style="width:18rem;">
                    <div class="card rounded text-center bg-body-tertiary border-0" style="width: 18rem;">
                        <img class="rounded " style="height: 12rem;"
                             src="/Image/phim/z5446220374743_a13b2ec73010d8fb0b0bb6ef3c5b10aa.jpg">
                        <div class="card-body lh-2">
                            <h3>Sản phẩm 4</h3>
                            <p>giảm giá 30%</p>
                            <button class="btn btn-danger">Mua ngay!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex justify-content-center m-1" style="width:18rem;">
                    <div class="card rounded text-center bg-body-tertiary border-0" style="width: 18rem;">
                        <img class="rounded " style="height: 12rem;"
                             src="/Image/phim/z5446220395299_ad197240409a8561784f88cda1d9de51.jpg">
                        <div class="card-body lh-2">
                            <h3>Sản phẩm 4</h3>
                            <p>giảm giá 30%</p>
                            <button class="btn btn-danger">Mua ngay!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex justify-content-center m-1" style="width:18rem;">
                    <div class="card rounded text-center bg-body-tertiary border-0" style="width: 18rem;">
                        <img class="rounded " style="height: 12rem;"
                             src="/Image/phim/z5446220515932_7f0b929769a003a5a95afd2c3a7ca728.jpg">
                        <div class="card-body lh-2">
                            <h3>Sản phẩm 4</h3>
                            <p>giảm giá 30%</p>
                            <button class="btn btn-danger">Mua ngay!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex justify-content-center m-1" style="width:18rem;">
                    <div class="card rounded text-center bg-body-tertiary border-0" style="width: 18rem;">
                        <img class="rounded " style="height: 12rem;"
                             src="/Image/phim/z5446220532179_39a50e1c3ec780054a41024c960a513d.jpg">
                        <div class="card-body lh-2">
                            <h3>Sản phẩm 4</h3>
                            <p>giảm giá 30%</p>
                            <button class="btn btn-danger">Mua ngay!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 style="text-align: center; font-weight: 400;
            font-style: normal;
            font-family: 'Montserrat', sans-serif;
            color: #ff6600;
            font-size: 39px;
            line-height: 1.2;
            letter-spacing: 0px;">
            COMBO ĐỒ ĂN THỨC UỐNG
        </h1>
        <div class="container mt-3">
            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex justify-content-center m-1" style="width:18rem;">
                    <div class="card rounded text-center bg-body-tertiary border-0" style="width: 18rem;">
                        <img class="rounded " style="height: 12rem;"
                             src="/Image/Food/Combohmburgervakhoaitay.webp">
                        <div class="card-body lh-2">
                            <h3>Sản phẩm 4</h3>
                            <p>giảm giá 30%</p>
                            <button class="btn btn-danger">Mua ngay!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex justify-content-center m-1" style="width:18rem;">
                    <div class="card rounded text-center bg-body-tertiary border-0" style="width: 18rem;">
                        <img class="rounded " style="height: 12rem;"
                             src="/Image/Food/Combo2.jpeg">
                        <div class="card-body lh-2">
                            <h3>Sản phẩm 4</h3>
                            <p>giảm giá 30%</p>
                            <button class="btn btn-danger">Mua ngay!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex justify-content-center m-1" style="width:18rem;">
                    <div class="card rounded text-center bg-body-tertiary border-0" style="width: 18rem;">
                        <img class="rounded " style="height: 12rem;"
                             src="/Image/Food/ganuong.jpg">
                        <div class="card-body lh-2">
                            <h3>Sản phẩm 4</h3>
                            <p>giảm giá 30%</p>
                            <button class="btn btn-danger">Mua ngay!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex justify-content-center m-1" style="width:18rem;">
                    <div class="card rounded text-center bg-body-tertiary border-0" style="width: 18rem;">
                        <img class="rounded " style="height: 12rem;"
                             src="/Image/Food/Hamburger.webp">
                        <div class="card-body lh-2">
                            <h3>Sản phẩm 4</h3>
                            <p>giảm giá 30%</p>
                            <button class="btn btn-danger">Mua ngay!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div">
            <hr>
        </div>


    </header>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>

</html>
